<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>紫外線UV指數</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="http://discordemoji.com/assets/emoji/thinkaboutit.png" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/module/TEST.js"></script>
</head>

<body>
    <form>
     <fieldset>
        <label for="CountySelect">Choose County</label>
        <select id="CountySelect">
            <option value="Chayi">嘉義市</option>
            <option value="Taichung">台中市</option>
            <option value="Penghu">澎湖縣</option>
            <option value="Yilan">宜蘭縣</option>
            <option value="Kingmen">金門縣</option>
            <option value="Nantuo">南投縣</option>
            <option value="Taitong">台東縣</option>
            <option value="Taoyuan">桃園市</option>
            <option value="Keelung">基隆市</option>
            <option value="Pingtung">屏東縣</option>
            <option value="Shingtsu">新竹縣</option>
            <option value="Tainan">台南市</option>
            <option value="Kaoshung">高雄市</option>
            <option value="Lianchang">連江縣</option>
            <option value="Hualian">花蓮縣</option>
            <option value="NewTaipei">新北市</option>
            <option value="Miaoli">苗栗縣</option>
            <option value="Changhua">彰化縣</option>
            <option value="Yunlin">雲林縣</option>
        </select>
     </fieldset>
    </form>

    <button id="Send" class="button-primary">click</button>
    <table id="result" style="display: none;">
        <thead>
        <tr>
            <th>地區</th>
            <th>監測站</th>
            <th>UV指數</th>
            <th>最後更新時間</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Stephen Curry</td>
            <td>27</td>
            <td>1,91</td>
            <td>Akron, OH</td>
        </tr>
        <tr>
            <td>Klay Thompson</td>
            <td>25</td>
            <td>2,01</td>
            <td>Los Angeles, CA</td>
        </tr>
        </tbody>
    </table>


<script>
    $(function(){
        $('#Send').on('click', function(){
            $('#result').css('display', 'block');
        });
    });
</script>

</body>

</html>